/* .App {
    font-family: sans-serif;
    text-align: center;
  } */
  
  .react-datepicker-wrapper,
  .react-datepicker__input-container,
  .react-datepicker__input-container input {
    display: block;
    width: 100%;
    border: "1";
    padding: 10;
    margin: 5;
    border-radius: 5;
    font-size: 15;
    font-family: "inherit";
  }
  