.login-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
  }
  .login-form label {
    display: block;
    margin: 30px auto;
  }
  .login-form span {
    display: block;
    margin-bottom: 6px;
  }
  .login-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
  }
  .footer{
    color: black;
    
  }
  a:visited{
    color:#FFFFFF
  }

  .login-form button {
    display: inline-block;
    width: 100%;
    background: steelblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  
  .login-form button:focus {
    outline: none;
  }
  
  .login-form button:active {
    transform: scale(0.98);
  }
  /* a:hover{
    color:
  } */

#successMessage {
    font-weight: bold;
    color: red;
  }